<a href="https://colab.research.google.com/github/AlexsanderPessoa/DS_Fifa_Word_Cup_Catar_2022/blob/main/DS_Fifa_Word_Cup_Catar_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

#estamos utilizando poisson, pois ela ajuda quando o problema é de contagem
#Ex: quantas pessoas vão ligar no dia
#Ex: quantos carros vai passar no pedágio ...
from scipy.stats import poisson

#index_col = 0, significa que estou substituindo o índice pela coluna 0, agora cada seleção é seu proprio índice
selecoes = pd.read_excel('/content/DadosCopaDoMundoQatar2022.xlsx', sheet_name='selecoes', index_col = 0)

jogos = pd.read_excel('/content/DadosCopaDoMundoQatar2022.xlsx', sheet_name='jogos')

In [3]:
selecoes.head()

,Grupo,GrupoNumero,NomeEmIngles,PosiçãoRankingFIFA,ValorDeMercado,PontosRankingFIFA,Confederação,Copas,JogadorDestaque,FotoJogadorDestaque,LinkBandeiraPequena,LinkBandeiraGrande
Seleção,,,,,,,,,,,,
Catar,A,A1,Qatar,48,18.33,1442,AFC,0,Almoez Ali,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Equador,A,A2,Ecuador,44,125.80,1464,UEFA,0,Pervis Estupiñán,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Senegal,A,A3,Senegal,18,286.50,1585,CAF,0,Sadio Mané,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Holanda,A,A4,Netherlands,8,455.75,1679,UEFA,0,Virgil Van Dijk,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Inglaterra,B,B1,England,5,1360.00,1737,UEFA,1,Harry Kane,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...

In [4]:
jogos.head()

        data      hora grupo seleção1 seleção2         estádio
0 2022-11-21  07:00:00     A  Senegal  Holanda      AL THUMAMA
1 2022-11-21  13:00:00     A    Catar  Equador         AL KHOR
2 2022-11-25  10:00:00     A    Catar  Senegal      AL THUMAMA
3 2022-11-25  13:00:00     A  Holanda  Equador  INTER. KHALIFA
4 2022-11-29  12:00:00     A  Holanda    Catar         AL KHOR

In [10]:
np.random.poisson(lam = 1, size = 1)

array([0])

In [ ]:
def Jogo(selecao1, selecao2)